parameters:
    level: 1
    paths:
        - src
        - tests
#    ignoreErrors:
#        -
#            message: '#Constructor of class Stubs\RelationStub has an unused parameter#'
#            path: %currentWorkingDirectory%/tests/Stubs/RelationStub.php
