includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/Stubs/PersistAbleStub.php
